{# Thanks to https://stackoverflow.com/questions/35365400/how-to-make-a-remote-modal-using-semantic-ui/40613329 #}
<div class="ui small info modal">
    <i class="close icon"></i>
    <div class="content"></div>
</div>
