{# Thanks to https://stackoverflow.com/questions/35365400/how-to-make-a-remote-modal-using-semantic-ui/40613329 #}

<script>
    $(function () {
        $('.setono-terms-modal-link').each(function () {
            $(this).on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.info.modal .content').html(data);
                    $(".info.modal").modal({closable:true,observeChanges:true}).modal('show');
                });
            });
        });
    });
</script>

<div class="ui small info modal">
    <div class="content"></div>
</div>
