/.build/
/var/
/vendor/
/node_modules/
/composer.lock

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini
