/.build/
/vendor/
/node_modules/
/composer.lock

/tests/Application/yarn.lock

/.phpunit.result.cache

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini
