{% extends '@SyliusShop/layout.html.twig' %}

{%- block title -%}
    {{ terms.name }}
{%- endblock -%}

{% block content %}
    {% include '@SetonoSyliusTermsPlugin/shop/terms/show/_breadcrumb.html.twig' %}

    <div class="ui hidden divider"></div>

    <div class="ui two column stackable grid">
        <div class="column">
            <h1>{{ terms.name }}</h1>

            {{ terms.content|raw }}
        </div>
    </div>
{% endblock %}
